{% extends "layout.html" %}
{% block content %}
<div class="sides">
    <div class="left">
      <img src='./files/grassy.png'/>
    </div>
    <div class="right">
        <h1>McSesamE</h1>
        <form action="login" method="POST">
            <div>
                <p><input type="text" name="login" id="login" placeholder="Benutzer"/></p>
                <p><input type="password" name="pw" id="pw" placeholder="Passwort"/></p>
            </div>
            <div>
                <input type="submit" name="submit"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}