{% extends "layout.html" %}
{% block content %}
<div class="sides">
    <div class="left">
      <img src='./files/mossy.png'/>
    </div>
    <div class="right">
        <h1>Hallo {{login}}</h1>
        <p>
          <div style="padding: 5px; background-color: red; color: white; border: solid black 2px;">
            Am 23.12.2017 von 14 bis 18 Uhr ist die Eröffnungsfeir des
            Maxischen Fernsehstuios. Es gibt gratis Essen und einen Kurzfilm!
            Also joined alle mal zwischen 14 und 18 Uhr.
          </div>
        </p>
        <p style="width: 300px">Sesame ist jetzt geöffnet für IP:</p>
        <p><b>{{ remote_addr }}</b>.</p>
        <p>Viel spaß beim Spielen :-)</p>
    </div>
</div>
{% endblock %}
